ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .about {
    background-color: white;
    width: 650px;
    margin: 5px;
    padding: 5px;
   }
  
  .currentnews {
  background-color: white;
  columns: 100px 1;
  column-gap: 20px;
   position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
        
  }
  
.center {
text-align: center;
  }


.blue {
background-color: blue;

}

.downtown {
background-image: url("skyline.jpg");
background-position:center;
background-repeat:no-repeat;
background-size:cover;
width: 1500px;
height:400px;
color: white;
margin: 0px;
padding: 10px;
  }

.youtube {
float: right;
position: relative;
border: burlywood;
top: -100px;

}

.myphoto {
  float: left;
  position: relative;
  border: burlywood;
  top: 400px;
}

.aboutme {
text-align: right;
position: relative;
top: 400px;
left: 300px;
}

___________________

.currentnews {
  background-color: white;
  columns: 100px 1;
  column-gap: 20px;
  position: relative; 
  top: 1000px;
  width: 300px;
  border: 3px solid black;
  padding: 25px;
    }


.graphs {
background-color:white;
margin: 60px;
padding-bottom: 45px;
    }

.footer {
position: static;
left: 0;
bottom: 0;
width: 100%;
color: black;
text-align: center;
font-size: x-small;
}

.sidenav {
  width: 250px;
  height: 400px;
  position: absolute;
  z-index: 1;
  top: 200px;
  right: 50px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

 /* .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
 font-size: 10px;
  color: #2196F3;
  display: block;*/
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-right: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

______________________

.video {
  background-color:white;
 padding: 35px;
 left: 0px
}
.currentnews {
background-color: white;
 columns: 100px 1;
 column-gap: 20px;
 position: absolute;
 right: 0px;
 width: 300px;
 border: 3px solid black;
 padding: 25px;
}












